{#
  flexContent

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de
  @link https://github.com/phpManufaktur/kitFramework/wiki
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% if usage == 'framework' %}
  {% set template_namespace = '@phpManufaktur/Basic/Template' %}
  {% set template_file = 'framework/body.twig' %}
{% else %}
  {% set template_namespace = '@phpManufaktur/flexContent/Template' %}
  {% set template_file = 'backend/body.twig' %}
{% endif %}
{% extends getTemplateFile(template_namespace, template_file) %}
{% block title %}{{ 'flexContent - Create or edit content'|trans }}{% endblock %}
{% block stylesheet %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ LIBRARY_URL }}/jquery/ui/1.10.3/themes/smoothness/jquery-ui.min.css" media="screen, projection" />
  <link rel="stylesheet" type="text/css" href="{{ LIBRARY_URL }}/jquery/timepicker/1.4.3/jquery-ui-timepicker-addon.min.css" media="screen, projection" />
  <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL }}/flexContent/Template/default/backend/jquery/tagedit/css/tagedit.css" media="all"/>
  <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL }}/flexContent/Template/default/backend/css/flexcontent.css" media="screen, projection" />  
{% endblock stylesheet %}

{% block jquery %}
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/i18n/jquery-ui-i18n.min.js"></script>
  <script type="text/javascript" src="{{ MANUFAKTUR_URL }}/flexContent/Template/default/backend/jquery/tagedit/js/jquery.autoGrowInput.js"></script>
  <script type="text/javascript" src="{{ MANUFAKTUR_URL }}/flexContent/Template/default/backend/jquery/tagedit/js/jquery.tagedit.js"></script>
  <script type="text/javascript">
    
    
      
      
      $(document).find('input.tag').tagedit({
          autocompleteURL: '{{ FRAMEWORK_URL }}/admin/flexcontent/tag/autocomplete',
          texts: { 
            removeLinkTitle: "{{ 'Remove from list'|trans }}",
            saveEditLinkTitle: "{{ 'Save changes'|trans }}",
            deleteLinkTitle: "{{ 'Delete this tag from database'|trans }}",
            deleteConfirmation: "{{ 'Are you sure to delete this entry?'|trans }}",
            deletedElementTitle: "{{ 'This Element will be deleted'|trans }}",
            breakEditLinkTitle: "{{ 'Cancel'|trans }}",
            forceDeleteConfirmation: "{{ 'There are more records using this tag, are you sure do you want to remove it?'|trans }}"
          }
        });
	
      
      
   
  </script>
{% endblock jquery %}

{% block content %}
  <div id="edit">
        <form id="content_edit" method="post" {{ form_enctype(form) }}>
        
        <div>
          {#<label for="tag">{{ 'Tags'|trans }}</label>#}
          {% if tags|length > 0 %}
            {% for tag in tags %}
              <input type="text" name="tag[{{ tag.tag_id ~ '-a' }}]" value="{{ tag.tag_name }}" class="tag" />
            {% endfor %}
          {% else %}
            <input type="text" name="tag[1-a]" value="" class="tag" />
          {% endif %}
        </div>
        
        {#{ form_rest(form) }#}
      </form>
{% endblock content %}

{% block footer %}
  {# add the height of CKE's to the iframe_add_height (default = 30) #}
  {% set iframe_add_height = 610 %}
  {{ parent() }}
  
{% endblock footer %}
  