{#
  flexContent

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de
  @link https://github.com/phpManufaktur/kitFramework/wiki
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% if usage == 'framework' %}
  {% set template_namespace = '@phpManufaktur/Basic/Template' %}
  {% set template_file = 'framework/body.twig' %}
{% else %}
  {% set template_namespace = '@phpManufaktur/flexContent/Template' %}
  {% set template_file = 'backend/body.twig' %}
{% endif %}
{% extends getTemplateFile(template_namespace, template_file) %}
{% block title %}{{ 'flexContent - Create or edit a tag'|trans }}{% endblock %}
{% block stylesheet %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL }}/flexContent/Template/default/backend/css/flexcontent.css" media="screen, projection" />
{% endblock stylesheet %}
{% block jquery %}
  {{ parent() }}
  <script type="text/javascript" src="{{ MANUFAKTUR_URL }}/CKEditor/Source/ckeditor.js"></script>
{% endblock jquery %}

{% block content %}
  <div class="container">
    {% include '@phpManufaktur/flexContent/Template/default/backend/toolbar.twig' %}
    <div class="height-15"></div>
    {% if message is defined and message|length > 0 %}
      <div class="alert alert-info">{{ message }}</div>
    {% endif %}
    <form id="tag_edit" method="post" {{ form_enctype(form) }} role="form">
      {{ form_errors(form) }}
      {{ form_row(form._token) }}
      {{ form_row(form.tag_id) }}     
      
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          {# form contents at the left column #}
          <div class="form-group">
            {{ form_label(form.tag_name) }}
            {{ form_widget(form.tag_name, {'attr':{'class':'form-control input-sm'}}) }}
          </div>
          <div class="form-group">
            {{ form_label(form.tag_description) }}
            {{ CKEditor(
                form.tag_description.vars.id,
                form.tag_description.vars.full_name,
                form.tag_description.vars.value,
                '100%', '200px',
                MANUFAKTUR_URL ~ '/flexContent/Template/default/backend/ckeditor.config.tag.type.js'
            ) }}
          </div>
          <div class="form-group">
            <label>&nbsp;</label>
            {{ form_widget(form.delete) }}&nbsp;<span class="small text-muted">{{ 'delete this tag type'|trans }}</span>
          </div>
          <div class="form-group">
            <label>&nbsp;</label>
            <input class="form-control btn btn-default" type="button" name="save_content" onclick="submitForm('{{ FRAMEWORK_URL }}/admin/flexcontent/tag/edit/check?usage={{ usage }}');" value="{{ 'Save'|trans }}" />
          </div>
          
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 height-tag-dialog">
          <div class="height-30"></div>
          {% if form.tag_image.vars.value|length > 0 %}
            <img class="img-rounded img-responsive" src="{{ FRAMEWORK_URL ~ form.tag_image.vars.value }}" />
          {% endif %}
          <div class="height-15"></div>
          <input class="form-control btn btn-default" type="button" name="image" onclick="submitForm('{{ FRAMEWORK_URL }}/admin/flexcontent/tag/image/select?usage={{ usage }}');" value="{{ 'Select tag type image'|trans }}" />  
        </div>
      </div>
      {#{ form_rest(form) }#}
    </form>
  </div>
{% endblock content %}

{% block footer %}
  {{ parent() }}
  <script type="text/javascript">
    if (typeof 'jQuery' !== 'undefined') {
      function submitForm(action)
      {
        if (!$('#tag_edit')[0].checkValidity()) {
          alert('{{ 'Please fill in all requested fields before submitting the form!'|trans }}');
        }
        else {
          $('#tag_edit').attr('action', action);
          $('#tag_edit').submit();
        }
      }
    }
  </script>
{% endblock footer %}
  